body {
    background-color: powderblue;
}
title {
    border-style: dotted;
}
h1 {
    color: gray;
    text-align: center;
  }
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkcyan;
    font-style: italic;
}
  p {
    font-family: verdana;
    font-size: 20px;
    color: black;
    border-style: dotted;
  }
video {
    float: right;
    opacity: 0.7;
}
ul{
    border: 2px solid gray;
    border-radius: 5px;
}
/*pretty mountains text*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
img {
    opacity: 0.7;
  }
  