body{
   background-color: #8E41D5;
}
body{
    background-image: url("dark_wood.png");
}
p{
    font-size: 35px; font-family: Arial; color: white; font-weight: bold;
    background-color: #8E41D5
}
h3{
    font-size: 40px; font-family: "Passion One"; color: #FFBC00; font-weight: bold;
    margin-bottom: 0px;
    background-color: #8E41D5
}
li{
    background-color: #8E41D5
}
#Header{
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    background-color: #8E41D5
}
#Header h1{
    font-size: 60px; font-family: "Passion One"; color: #FFBC00; font-weight: bold;
   background-color: #8E41D5
}
#LeftNav{
    float: left;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    padding-bottom: 8px;
    background-color: #8E41D5
}
#LeftNav img{
    background-color: #8E41D5
}
#LeftNav ul{
    background-color: #8E41D5
}
#LeftNav h3{
    background-color: #8E41D5
}
#Content{
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    padding: 15px;
    background-color: #8E41D5
}
#Footer{
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    background-color: #8E41D5
}
ul{
    list-style-type:none;
    padding-left: 0px;
    background-color: #8E41D5
}
a{
    font-size: 24px; color: white; font-weight: bold;
    background-color: #8E41D5
}
#bow{
    color: #FFBC00;
}